<header id="header" class="header">
    <div class="container__header">
            <nav class="navbar">
                <div class="header__logo">
                    <a  href="#"><img src="img/logo.png" alt="logo"></a>
                     <span>SepioTek</span>
                </div>

                <div class="header__body">
                        <ul id="menu" class="menu">
                            <li class="menu-item current">
                                <a class="current" href="#">Home</a>
                            </li>
                            <li class="menu-item">
                                <a href="#">About Us</a>
                            </li>
                            <li class="menu-item">
                                <a href="#">We Offer</a>
                            </li>
                        </ul>
                    <!-- Кнопка бургер	 -->
    <!--                <button id="nav__toggle" class="nav-toggle" type="button">-->
    <!--                    <span class="nav-toggle__item">Меню</span>-->
    <!--                </button>-->
                    <!-- конец кнопки бургер -->
                 </div>
                <div class="search"><a href="#"><img src="img/search.png" alt="alt"></a></div>

            </nav>


    </div>

</header>
